@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-dark: #1D1D1F;
  --color-background-light: #F5F5F7;
  --color-accent: #0070c9;
}

body {
  color: var(--color-text-dark);
  background-color: white;
}
.dark body {
  background-color: black;
}

/* Custom Swiper Styles */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
}